.page-main {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.page-main__title {
  width: 100%;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 76px;
  text-align: center;
  background-color: #f1f1f1;

  font-family: @open-sans;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  color: @very-dark-font;
}

.page-main__description {
  .container(260px);
  margin-top: 23px;
  font-family: @open-sans;
  font-size: 13px;
  line-height: 1.85;
  color: @gray-font;
}

@media (min-width: @tablet-width-viewport) {
  .page-main__title {
    position: relative;
    padding-top: 95px;
    padding-bottom: 90px;

    font-size: 43px;
    line-height: 1.16;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      .container(@tablet-width + 100px);
      height: 25px;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: cover;
      background-repeat: repeat-x;
      background-position: center;
    }
  }

  .page-main__description {
    .container(@tablet-width);
    margin-top: 64px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 1.76;
  }
}

@media (min-width: @desktop-width-viewport) {
  .page-main__title {
    padding-bottom: 115px;

    font-size: 53px;
    line-height: 1.08;

    &::after {
      .container(@desktop-width + 100px);
      height: 30px;
    }
  }

  .page-main__description {
    .container(@desktop-width);
    width: 700px;
    margin-top: 110px;
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 1.76;
  }
}
