.process {
  .container(260px);
  border: 1px solid #ececec;
  padding-bottom: 34px;
  padding-top: 20px;
  box-sizing: border-box;
  margin-bottom: 55px;
}

.process__title {
  position: relative;
  margin-top: 5px;
  margin-bottom: 27px;
  margin-left: 89px;
  margin-right: 34px;
  vertical-align: top;

  font-family: @open-sans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: @black-font;
}

.process__title::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 22px;
  top: 12px;
  left: -55px;
  width: 32px;
  background: url("../img/icon-video.svg") no-repeat center center;
}

.process__description {
  margin-bottom: 25px;
  font-family: @open-sans;
  font-size: 13px;
  line-height: 1.85;
  color: @gray-font;
}

.process__video-wrapper {
  width: 100%;
  margin-bottom: 23px;
}

.process__wrapper {
  margin-left: 34px;
  margin-right: 34px;
}

.process:hover,
.process:focus {
  outline: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}


.process:active {
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width-viewport) {
  .process {
    display: flex;
    flex-direction: column;
    .container(@tablet-width);
    border: 1px solid #ececec;
    padding-bottom: 34px;
    padding-top: 0;
    box-sizing: border-box;
    margin-bottom: 74px;
  }

  .process__title {
    order: 2;
    margin-left: 105px;
    margin-right: 40px;
    margin-top: 35px;

    font-size: 20px;
    letter-spacing: 0.2px;
  }

  .process__title::before {
    top: 3px;
    left: -64px;
  }

  .process__video-wrapper {
    order: 1;
    margin: 0;
    height: 455px;
  }

  .process__img-video {
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    border-bottom: 1px solid #ececec;
  }

  .process__wrapper {
    order: 3;
    margin-left: 40px;
    margin-right: 40px;
  }

  .process__description {
    margin-bottom: 35px;
    margin-top: 5px;

    font-size: 15px;
    line-height: 2;
    color: @gray-font;
  }
}

@media (min-width: @desktop-width-viewport) {
  .process {
    .container(@desktop-width);
    padding: 0;
    margin-bottom: 104px;
    position: relative;
    align-items: flex-end;
  }

  .process__title {
    box-sizing: border-box;
    margin: 0;
    width: 367px;
    padding-left: 78px;
    padding-right: 57px;
    padding-top: 95px;

    line-height: 1.2;
  }

  .process__title::before {
    top: 46px;
    left: 79px;
  }

  .process__video-wrapper {
    position: absolute;
    width: 680px;
    height: 453px;
    left: 0;
  }

  .process__img-video {
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 1px);
    height: calc(100% + 2px);
    border-right: 1px solid #ececec;
  }

  .process__wrapper {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 60px;
    width: 367px;
    padding-left: 78px;
    padding-right: 57px;
    padding-top: 27px;
  }

  .process__description {
    margin-bottom: 47px;
  }
}
