.reviews {
  margin-bottom: 42px;
  .separating-line();
}

.reviews::after {
  bottom: -50px;
}

.reviews__title {
  .container(260px);
  margin-bottom: 25px;
  font-family: @open-sans;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: @black-font;
}

.reviews__slider {
  .container(260px);
}

.reviews button {
  .container(260px);
}
