.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__item {
  margin: 0 17px;
  width: 28px;
  text-align: center;
}

.social-list__link--instagram::before {
  content: url("../img/icon-insta.svg");
  display: inline;
}

.social-list__link--facebook::before {
  content: url("../img/icon-fb.svg");
  display: inline;
}

.social-list__link--twitter::before {
  content: url("../img/icon-twitter.svg");
  display: inline;
}
