.social-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list--footer {
  flex-direction: row;
}

.social-list__item {
  margin: 0 17px;
  width: 28px;
  text-align: center;
}

.social-list__icon {
  &:hover,
  &:focus {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width-viewport) {
  .social-list--footer {
    flex-direction: row;
  }
}
