// шрифты
@open-sans: "Open Sans", "Arial", sans-serif;

// цвета
@very-dark-font: #010000;
@white-font: #ffffff;
@black-font: #000000;
@seafoam-font: #63d1bb;
@gray-font: #444444;

// точки перехода
@tablet-width-viewport: 768px;
@desktop-width-viewport: 1150px;

// ширина
@tablet-width: 668px;
@desktop-width: 1050px;
